* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.8);
	border-radius: 8px;
}
button {
	color: #FFFFFF;
	border: solid 5px rgba(12, 12, 12, 0);

	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
}

button:focus, button:active, button:hover {
	border-color: @main_color;
   border-radius: 8px;
   border-width: 5px;
	outline-style: none;
	background-color: rgba(12, 12, 12, 0.7);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
#cancel {
    background-image: image(url("/usr/share/wlogout/icons/cancel.png"));
}
